! ******************
! urxvt config
! ******************

! **** declare extensions ****
urxvt.perl-ext-common: default,selection-to-clipboard,matcher,tabbed

! **** keybindings for copy-paste ****
urxvt.keysym.Shift-Control-V: eval:paste_clipboard
urxvt.keysym.Shift-Control-C: eval:selection_to_clipboard

! **** clickable urls ****
urxvt.url-launcher:   /usr/bin/xdg-open
urxvt.matcher.button: 1

! **** remove the weird yellow box on shift-ctrl ****
urxvt.iso14755: false

! **** colorscheme ****
! special
*.foreground:   #ab9bab
*.background:   #1b181b
*.cursorColor:  #ab9bab
! black
*.color0:       #1b181b
*.color8:       #776977
! red
*.color1:       #ca402b
*.color9:       #ca402b
! green
*.color2:       #379a37
*.color10:      #379a37
! yellow
*.color3:       #bb8a35
*.color11:      #bb8a35
! blue
*.color4:       #516aec
*.color12:      #516aec
! magenta
*.color5:       #7b59c0
*.color13:      #7b59c0
! cyan
*.color6:       #159393
*.color14:      #159393
! white
*.color7:       #ab9bab
*.color15:      #f7f3f7

! **** transparency ****
urxvt*depth:        32
urxvt*background:   [70]#000000
urxvt*blurRadius:   5

! **** change background color ****
URxvt.keysym.C-0: command:\033]49;#263640\007

! **** font ****
urxvt.font:	xft:Hack:pixelsize=12

! **** delet scrollbar and make it prettier ****
urxvt*scrollBar:                  false
urxvt*mouseWheelScrollPage:       false
urxvt*cursorBlink:                true
urxvt*saveLines:                  5000
urxvt*internalBorder: 5
urxvt*geometry: 70x19
